.item-card {
  padding: 1rem;
  min-width: 240px;
  // width: 240px;
  max-width: 100%;
  height: 240px;
  border-radius: 8px;
  background: var(--mainTextColor);
  transition: all ease 300ms;
  color: var(--mainAccent);
  cursor: pointer;
  display:flex;
  flex-direction: column;
}

.item-title{
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  min-height: 1.5rem;
  height: 1.5rem;
  max-height: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.item-content{
  position: relative;
  overflow: hidden;
  // white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  // height: auto;
}