<div class="home-wrapper">
  <span>CHEST | {{currentChest}} </span>
  <header>
    <div class="message-area">
      <input class="message-title" type="text" placeholder="Title">
      <input class="message-tags" type="text" placeholder="Tags">
      <textarea #textarea class="message-text" (keydown)="textChange(textarea)" placeholder="Type here..."></textarea>
    </div>
  </header>
  <main>
    <app-chest-item *ngFor="let item of chestItems" [item]="item" (itemEmitter)="itemEvent($event)" id={{item.id}} (click)="openItem(chestItem)" #chestItem ></app-chest-item>
  </main>
</div>