.menu{
  grid-column: 1/2;
  height: 100%;
  // border: solid thin blue;
}

.container{
  overflow: hidden;
  // height: 100vh;
  display: grid;
  height: 100%;
  grid-template-columns: auto minmax(320px,1100px) auto;
  justify-content: space-between;
  transition: all ease 300ms;

}

.main{
  max-width: 1100px;
  // margin: auto;
  overflow: auto;
  padding: 0 1rem;
  grid-column: 2/3;
  // border: solid thin grey;
}

.aux{
  grid-column: 3/4;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 4rem;
  right: 0;
  width: 300px;
}


@media(max-width: 700px){

}