.profile-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

span{
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  align-self: left;
  justify-self: left;
  text-align: left;
  font-weight: bold;
  font: 1.4rem;
  padding: .2rem;
  cursor: pointer;
  transition: all ease 300ms;

  &:hover{
    background: #202124;
    color: #fff;
  }

}

div {
  margin: 1rem;
}

.profile-image {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  cursor: pointer;
  
  .profile-photo{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: none;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }

  &::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7); 
    content: 'UPLOAD';
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 0;
    transition: all ease 300ms;
    z-index: 99;
  }

  &:hover{

    &::after{
      opacity: 1;
    }
  }
}



input,
button{
  border: none;
  min-width: 15rem;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  background: none;
}


.profile-input {
  &:hover{
    background: rgba(0, 0, 0, 0.1);
  }
}

.sign-out{
  border-radius: 5px;
  background: #111;
  color: #eee;
  cursor: pointer;
  transition: all ease 500ms;
  
  &:hover{
    padding: .55rem 1rem;
    box-shadow: inset 0 0px 20px rgb(0, 0, 0), 0 0px 5px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 1);
  }
}

.terminate-account{
  border-radius: 5px;
  background: rgb(235, 19, 51);
  font-weight: 600;
  color: #eee;
  cursor: pointer;
  transition: all ease 500ms;

  &.failed{
    animation: shake 200ms 2 linear;
  }

  &:hover{
    padding: .55rem 1rem;
    box-shadow: inset 0 0px 20px rgb(255, 0, 0), 0 0px 5px rgb(255, 0, 0);
    background: rgb(255, 0, 38);
  }
}

.terminate-account-confirmation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  color: #111;
  border-top: #111 solid thin;
  margin-top: 5rem;
  i{
    font-weight: normal;
  }

  div{
    margin: .25rem;
  }
}

.terminate-confirm{
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
  margin: 1rem;
}


@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}