<div class="control-panel-wrapper">
  <h2>Theme</h2>
  <div>
    <label for="mainAccent">Main Accent: </label>
    <input type="text" id="mainAccent" value="{{cssTheme.activeTheme.mainAccent}}" placeholder="#000000 or rgba(0,0,0,0)">
  </div>
  <div>
    <label for="mainTextColor">Main Text Color: </label>
    <input type="text" id="mainTextColor" value="{{cssTheme.activeTheme.mainTextColor}}" placeholder="#000000 or rgba(0,0,0,0)">
  </div>
  <div>
    <label for="mainFont">Main Font: </label>
    <input type="text" id="mainFont" value="{{cssTheme.activeTheme.mainFont}}" placeholder="Helvetica">
  </div>
</div>