.tutorial-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(111,111,111,.7);
  z-index: 112;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  
}


.slide{
  position: absolute;
  opacity: 0;
  width: 70%;
  height: 80%;
  border-radius: 8px;
  background: var(--mainAccent);
  transition: all ease 300ms;
  display: flex;flex-direction: column;
  align-items: center;
  // justify-content: center;
  z-index: 0;

  &::after{
    position: absolute;
    content: '';
    display:block;
    top: 1rem;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--mainTextColor);
    border: solid 3px var(--mainTextColor);
    border-radius: .5rem;
  }
  
  
  &.active-slide{
    opacity: 1;
    z-index: 113;
  }

  label{
    position: absolute;
    font-size: 2rem;
    display: inline-block;
    height: 1rem;
    font-weight: bold;
    left: 0;
    right: 0;
    top: -1rem;
    margin: 0 auto;
    text-align: center;
    // justify-self: flex-start;
  }
}

 

button {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 1rem;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: var(--mainTextColor);
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  width: 250px;
  height: 3rem;
  border-radius: 1.5rem;
  justify-self: flex-end;
  transition : all 450ms, cubic-bezier(0.65,0,.076,1);
    .button-text {
      transition : all 450ms, cubic-bezier(0.65,0,.076,1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      color: var(--mainAccent);
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  
  &:hover {

  }
}

.s-1{
  &::after{
    width: 20%;
  }
}
.s-2{
  &::after{
    width: 40%;
  }
}
.s-3{
  &::after{
    width: 60%;
  }
}

@media(max-width:700px){
  .slide{
    width: 85%;
    height: 85%;
  }
}