<div class="tutorial-wrapper" (click)="exit($event)">
  <!-- Sections can be transitioned thought -->
  <div class="slide s-1">
    <button class="learn-more" (click)="toggleSlide(currentSlide + 1)">
      <p class="button-text">Next</p>
    </button>
  </div>
  <div class="slide s-2">
    <button class="learn-more"  (click)="toggleSlide(currentSlide + 1)">
      <p class="button-text">Next</p>
    </button>
  </div>
  <div class="slide s-3">
    <button class="learn-more" (click)="toggleSlide(currentSlide + 1)">
      <p class="button-text">Next</p>
    </button>
  </div>

    <!-- LOGO -->
    <!-- BEGIN -->
</div>