.menu-wrapper{
  position: relative;
  width: 0px;
  height: 100%;
  overflow: hidden;
  transition: all ease 300ms;

  &.open{
    width: 250px;
  }

}

.menu-item{
  height: 3.5rem;
  border-bottom: solid thin grey;
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-column-gap: 1rem;
  align-items: center;
  padding: 1rem;

  .menu-item-icon{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(0, 0, 0,.1);
  }

  .menu-item-label{
    font-size: 17px;
  }
}

